---
import Layout from "../layouts/Layout.astro";
const { env } = Astro.locals.runtime;
const myVariable = env.CLIENT_ID || 'default_value's;
---
<Layout>
    <h1>Environment Variable Test</h1>
    <p>The value of CLIENT_ID is: {myVariable}</p>  
</Layout>
