---
import Layout from "../layouts/Layout.astro";
const { env } = Astro.locals.runtime;
const myVariable = env.CLIENT_ID || 'default_value';


---
<Layout>
    <h1>Environment Variable Test</h1>
    {JSON.stringify(env)}
</Layout>

