---
import Layout from "../layouts/Layout.astro";
const { env } = Astro.locals.runtime;
const SERVICE_MAYERANDWATT = env.SERVICE_MAYERANDWATT || 'Not Defined';

let counter = parseInt(await SERVICE_MAYERANDWATT.get("counter")) || 0;

export const prerender = false;
---
<Layout>
    <h1>Environment Variable Test</h1>
    {JSON.stringify(env)}

    <p>Service Mayer and Watt get: {await SERVICE_MAYERANDWATT.get("counter")}</p>
    <p>Incrementing counter to: {counter + 1}</p>
    {
        await SERVICE_MAYERANDWATT.put("counter", counter + 1)
    }
</Layout>

