---
import Layout from "../layouts/Layout.astro";
const { env } = Astro.locals.runtime;

export const prerender = false;
---
<Layout>
    <h1>Environment Variable Test</h1>
    {JSON.stringify(env)}
</Layout>

