---
import Layout from "../layouts/Layout.astro";
const { env } = Astro.locals.runtime;
const SERVICE_MAYERANDWATT = env.SERVICE_MAYERANDWATT || 'Not Defined';

export const prerender = false;
---
<Layout>
    <h1>Environment Variable Test</h1>
    {JSON.stringify(env)}

    <p>Service Mayer and Watt get: {SERVICE_MAYERANDWATT.set("test_0",1)}</p>

</Layout>

