---
import Layout from "../layouts/Layout.astro";
const { env } = Astro.locals.runtime;
const SERVICE_MAYERANDWATT = env.SERVICE_MAYERANDWATT || 'Not Defined';

let counter = parseInt(await SERVICE_MAYERANDWATT.get("counter")) || 0;
let apiKey = await SERVICE_MAYERANDWATT.get("currentAuthKey");
let apiExpiry = await SERVICE_MAYERANDWATT.get("currentAuthKeyExpiry");
if( !apiKey || !apiExpiry || (Date.now() > parseInt(apiExpiry)) ) {
    // Generate new API key
    apiKey = crypto.randomUUID();
    apiExpiry = (Date.now() +  60 * 1000).toString(); // 1 minute expiry
    await SERVICE_MAYERANDWATT.put("currentAuthKey", apiKey);
    await SERVICE_MAYERANDWATT.put("currentAuthKeyExpiry", apiExpiry);
}   


export const prerender = false;
---
<Layout>
    <h1>Environment Variable Test</h1>
    <p>Counter value from KV: {counter}</p>
    <p>Current API Key: {apiKey}</p>
    <p>API Key Expiry (timestamp): {apiExpiry}</p>
</Layout>

